
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#000;
    color:#fff;
}

header img{
    width:100%;
    display:block;
}

main{
    max-width:900px;
    margin:auto;
    padding:30px 20px;
}

h1{
    text-align:center;
    font-size:2.2rem;
    margin-bottom:10px;
}

main p{
    text-align:center;
    color:#cfcfcf;
    margin-bottom:35px;
}

.categoria{

    width:100%;
    padding:18px;

    border:none;
    border-radius:50px;

    cursor:pointer;

    font-size:1.1rem;
    font-weight:bold;

    color:#fff;

    margin-bottom:15px;

    background:linear-gradient(90deg,#00d8ff,#ff2fa5);

}

.lista{

    display:none;

    margin-bottom:35px;

}

.musica{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    width:100%;

    border-bottom:1px solid #2a2a2a;

}

.nome-musica {
    flex: 1;
   
    margin-left: 15px;

    font-size:1.1rem;

    color:white;

}

.acoes{
    display: flex;
   
    align-items: center;
    
    gap: 15px;
}

.baixar{
    
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    
    border:none;

    border-radius:50px;

    cursor:pointer;

    color:white;

    padding:0 18px;

    height:48px;

    font-weight:bold;


    background:linear-gradient(90deg,#00d8ff,#ff2fa5);

}

.ouvir{

    width:48px;
    height:48px;

    font-size:20px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:50%;

    cursor:pointer;

    color:white;

    background:linear-gradient(90deg,#00d8ff,#ff2fa5);

}

.categoria:hover,
.playBtn:hover,
.letra-btn:hover,
.baixar-btn:hover{

    transform:scale(1.04);

    transition:.25s;

}

    /* ==========================
   ÁREA SOBRE O FAMA HITS
   ========================== */

.sobre-box{

    background:rgba(255,255,255,0.05);

    border:2px solid transparent;

    border-radius:25px;

    padding:25px;

    margin-top:15px;

    margin-bottom:35px;

    backdrop-filter:blur(8px);

    border-image:linear-gradient(90deg,#00d8ff,#ff2fa5) 1;

}

.sobre-box h2{

    text-align:center;

    margin-bottom:20px;

    color:white;

}

.sobre-box p{

    text-align:left;

    color:#cfcfcf;

    line-height:1.6;

    margin-bottom:15px;

}

/* ==========================
         APOIA SE
========================== */

.apoie-btn{

    display:block;

    width:100%;

    padding:18px;

    margin-bottom:15px;

    text-align:center;

    border-radius:50px;

    text-decoration:none;

    font-weight:bold;

    color:white;

    background:linear-gradient(90deg,#00d8ff,#ff2fa5);

}

/* ==========================
   ÍCONES DE CATEGORIA
========================== */

.icone-estilo{
    width:48px;
    height:48px;
    object-fit:contain;
    vertical-align:middle;
    margin-right:8px;
}

/* ==========================
   BOTÕES
========================== */

.playBtn{
    
    background: transparent;
    border: none;
    padding: 0;
    cursor:pointer;
    width:48px;
    height:48px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.playBtn img{

    width:40px;
    height:40px;
    object-fit:contain;
    background:transparent;

}

/* Efeito de luz no título Fama Hits */

h1 {
    position: relative;
    color: #fff;
    overflow: hidden;

    background:
    linear-gradient(
        90deg,
        #ffffff 0%,
        #00d9ff 25%,
        #ffffff 50%,
        #ff2fa8 75%,
        #ffffff 100%
    );

    background-size: 200% 100%;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    animation: luzFama 4s ease-in-out infinite alternate;
}


@keyframes luzFama {

    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }

}
        
/* Efeito de sublinhar Categorias */
        
.categoria{
    position: relative;
}

.categoria.ativa::after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: -8px;

    width: 50%;
    height: 10px;

    background: linear-gradient(90deg,#16d5ff,#ff2bb8);

    border-radius: 50%;
    transform: skewX(-15deg);

    opacity:1;
        
}

.letra-btn{

    width:48px;
    height:48px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    text-decoration:none;

    font-size:24px;

    color:white;

    background:linear-gradient(90deg,#00d8ff,#ff2fa5);

}
.letra-btn img{

    width:40px;
    height:40px;
    object-fit:contain;

}

.baixar-btn{

    display:flex;
    align-items:center;
    justify-content:center;

    width:48px;
    height:48px;

    text-decoration:none;

}

.baixar-btn img{

    width:40px;
    height:40px;
    object-fit:contain;

}
