*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Georgia, "Times New Roman", serif;
}


body{

    background-image:url("../images/carta.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

    color:#4a321d;

}


.pagina-letra{

    max-width:800px;

    margin:auto;

    padding:40px 25px;

}


h1{

    text-align:center;

    color:#4a321d;

    margin-bottom:30px;

}


.letra{

    color:#4a321d;

    font-size:20px;

    line-height:1.8;

}
